<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">主页</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">关于我们</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}PictureBDFZ">图说北大附中</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="">校友</a></li>
    
    <li class="nav-try-ghost" role="menuitem"><a href="">教师图卡</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="">使用指南</a></li>

</ul>
