<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">主页</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/teacher-picture/">教师图鉴</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}tag/alumni-stories/">校友故事</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}PictureBDFZ">图说BDFZ</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="">使用指南</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">关于我们</a></li>
    
</ul>
