{% assign words_per_minute = site.words_per_minute | default: 200 %}

    <article class="post-card {{ page.next.class }}{% unless page.next.cover %} no-image{% endunless %}">
        {% if page.next.cover %}
            <a class="post-card-image-link" href="{{ site.baseurl }}{{ page.next.url | remove_first: '/' }}">
                <div class="post-card-image" style="background-image: url({{ site.baseurl }}{{ page.next.cover }})"></div>
            </a>
        {% endif %}
        <div class="post-card-content">
            <a class="post-card-content-link" href="{{ site.baseurl }}{{ page.next.url | remove_first: '/' }}">
                <header class="post-card-header">
                    

                    <h2 class="post-card-title">{{ page.next.title }}</h2>
                </header>
                <section class="post-card-excerpt">
                    
                    <p>{{ page.next.excerpt | strip_html | truncatewords: 33, "" }}</p>
                    
                </section>
            </a>
            <footer class="post-card-meta">
                <div>
                    {% for author in site.data.authors %}
                        {% if author[1].username == page.next.author %}
                            {% if author[1].picture %}
                            <img class="author-profile-image" src="{{ site.baseurl }}{{ author[1].picture }}" alt="{{ author[1].name }}" />
                            {% endif %}
                            <span class="post-card-author">
                                <a href="{{ site.baseurl }}author/{{ page.next.author }}/">{{ author[1].name }}</a>
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    <h5 style="float:left;">采访人：
                        {% for author2 in page.next.authors2 %}
                        
                            {{ author2 }}
                            {% if forloop.index == page.next.authors2.size %}
    
                                {% else %}
                                ，
                                {% endif %}
                        {% endfor %}
                    </h5>
                    <span class="reading-time" style="margin-top:17px;float:right;">
                        {% if page.next.tags.size > 0 %}
                            {% for tag in page.next.tags %}
                                
                                <span class="post-card-tags">{{ site.data.tags[tag].name }}</span>
                                
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>
                
                
            </footer>
        </div>
    </article>
