<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        
        <!-- <div class="social-links">
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
            {% endif %}
            
        </div> -->
        <style>
            #searchdiv{
				position:absolute;
            
				background-color: black;
				display: none;
                z-index:9999;
                width: 100%;
                height: 100%;
                opacity: 0.7;
                /* text-align: center; */

                
			}
        </style>
        <i id="searchbutton" class="fa fa-search navbar-brand search-icon"></i>
    

        
        
        <!-- {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %} -->
        
          
    </div>
</nav>


<style>
    
    #search-input {
        width: 90%;
        height: 4vw;
        color: rgb(255, 255, 255);
        background-color: rgba(227,231,236,.2);
        line-height: 35px;
        position:absolute;
    
        /* padding:0px 5px; */
        /* border: 1px solid #c0c0c0; */
        font-size: 25px;
        /* font-weight: bold; */
        /* border-radius: 17px; */
        outline: none;

        top: 5vw;
        left: 50%;
        transform: translate(-50%, -50%);

        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        border-color: #878787;
        border-style: solid;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 0px
    }
    #search-input:focus {
        width:90%;
        height: 4vw;
        outline: none;
        /* border-color: rgb(102, 175, 233); */
        /* margin-top: 20px; */
        /* background-color: #fff; */
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #007fff;
        border-color: #878787;
        border-style: solid;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 0px;
    }
    #results-container {
        margin: 8vw 3vw 21.5em;
        width:100%;
        height:100%;
        list-style: none;
    }

    #results-container li a{
        text-align:left;   
        color: #d0cec8; 
    }
</style>

<script src="{{ site.baseurl }}simple-jekyll-search.min.js"></script>

<script>
    SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '{{ site.baseurl }}search.json',
    searchResultTemplate: '<li><a href="{url}" style="display:block;width: 100%;padding-left:10px; padding-right:10px;"><i class="fa fa-angle-double-right fa-border" aria-hidden="true"></i>    {title}</a></li>', // 文章列表模板
    noResultsText: '<div style="margin-left: 10vw; padding: 30px 0 60px 0"><i class="fa fa-5x text-center fa-coffee" aria-hidden="true" style="margin-top: 20px"></i><p id="search-p">Oops, nothing found : (️</p></div', // 无搜索数据提示语
    limit: 15, // 返回最大文章数
    fuzzy: false // 是否模糊匹配
})
</script>
>
